In [1]:
import pandas as pd

In [11]:
df =pd.read_csv("Social_Network_Ads.csv")

In [12]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [18]:
from sklearn.preprocessing import LabelEncoder
l = LabelEncoder()
df["Gender"] = l.fit_transform(df.Gender)

In [19]:
X = df.drop("Purchased",axis =1)
y = df.Purchased

In [20]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y)

In [21]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X_train,y_train)

LogisticRegression()

In [23]:
y_pred = lr.predict(X_test)

In [24]:
from sklearn.metrics import confusion_matrix,classification_report,precision_score,recall_score,f1_score,accuracy_score

In [28]:
print(confusion_matrix(y_test,y_pred))

[[68  1]
 [17 14]]

In [27]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.80      0.99      0.88        69
           1       0.93      0.45      0.61        31

    accuracy                           0.82       100
   macro avg       0.87      0.72      0.75       100
weighted avg       0.84      0.82      0.80       100

In [30]:
print(accuracy_score(y_test,y_pred))

0.82

In [31]:
print(precision_score(y_test,y_pred))

0.9333333333333333

In [32]:
print(recall_score(y_test,y_pred))

0.45161290322580644

In [34]:
print(f1_score(y_test,y_pred))

0.608695652173913

In [35]:
print(confusion_matrix(y_pred,y_test))

[[68 17]
 [ 1 14]]