In [1]:
import pandas as pd

In [2]:
import numpy as np

In [15]:
df=pd.read_csv("C:/Users/HP/Desktop/DSBDA/student.csv")

In [16]:
df

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15.0,16,2,20,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,NaN,20,3,25,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10.0,7,0,30,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30.0,25,5,35,No,Bad,Above-7,L
4,M,KW,NaN,lowerlevel,G-04,A,IT,F,Father,40.0,50,12,50,No,Bad,Above-7,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,F,Jordan,Jordan,MiddleSchool,G-08,A,Chemistry,S,Father,5.0,4,5,8,No,Bad,Above-7,L
476,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,F,Father,50.0,77,14,28,No,Bad,Under-7,M
477,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,S,Father,55.0,74,25,29,No,Bad,Under-7,M
478,F,Jordan,Jordan,MiddleSchool,G-08,A,History,F,Father,30.0,17,14,57,No,Bad,Above-7,L
479,F,Jordan,Jordan,MiddleSchool,G-08,A,History,S,Father,35.0,14,23,62,No,Bad,Above-7,L

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   gender                    480 non-null    object
 1   NationalITy               480 non-null    object
 2   PlaceofBirth              477 non-null    object
 3   StageID                   480 non-null    object
 4   GradeID                   480 non-null    object
 5   SectionID                 480 non-null    object
 6   Topic                     475 non-null    object
 7   Semester                  480 non-null    object
 8   Relation                  480 non-null    object
 9   raisedhands               475 non-null    float64
 10  VisITedResources          480 non-null    int64
 11  AnnouncementsView         480 non-null    int64
 12  Discussion                480 non-null    int64
 13  ParentAnsweringSurvey     480 non-null    object
 14  ParentschoolSatisfaction  480 non-null    object
 15  StudentAbsenceDays        480 non-null    object
 16  Class                     480 non-null    object
dtypes: float64(1), int64(3), object(13)
memory usage: 63.9+ KB

In [18]:
df.describe()

       raisedhands  VisITedResources  AnnouncementsView  Discussion
count   475.000000        480.000000         480.000000  480.000000
mean     46.751579         54.797917          37.918750   43.283333
std      30.876462         33.080007          26.611244   27.637735
min       0.000000          0.000000           0.000000    1.000000
25%      15.000000         20.000000          14.000000   20.000000
50%      50.000000         65.000000          33.000000   39.000000
75%      75.000000         84.000000          58.000000   70.000000
max     100.000000         99.000000          98.000000   99.000000

In [19]:
df.isnull().sum()

gender                      0
NationalITy                 0
PlaceofBirth                3
StageID                     0
GradeID                     0
SectionID                   0
Topic                       5
Semester                    0
Relation                    0
raisedhands                 5
VisITedResources            0
AnnouncementsView           0
Discussion                  0
ParentAnsweringSurvey       0
ParentschoolSatisfaction    0
StudentAbsenceDays          0
Class                       0
dtype: int64

In [20]:
df['PlaceofBirth']

0      KuwaIT
1      KuwaIT
2      KuwaIT
3      KuwaIT
4         NaN
        ...
475    Jordan
476    Jordan
477    Jordan
478    Jordan
479    Jordan
Name: PlaceofBirth, Length: 480, dtype: object

In [21]:
modevalue=df['PlaceofBirth'].mode()

In [22]:
print(modevalue)

0    KuwaIT
Name: PlaceofBirth, dtype: object

In [25]:
df['PlaceofBirth'].replace(np.nan,modevalue)

ValueError: Series.replace cannot use dict-value and non-None to_replace

In [28]:
df.columns

Index(['gender', 'NationalITy', 'PlaceofBirth', 'StageID', 'GradeID',
       'SectionID', 'Topic', 'Semester', 'Relation', 'raisedhands',
       'VisITedResources', 'AnnouncementsView', 'Discussion',
       'ParentAnsweringSurvey', 'ParentschoolSatisfaction',
       'StudentAbsenceDays', 'Class'],
      dtype='object')

In [29]:
df.shape

(480, 17)

In [30]:
df.size

8160

In [31]:
df.info

<bound method DataFrame.info of     gender NationalITy PlaceofBirth       StageID GradeID SectionID  \
0        M          KW       KuwaIT    lowerlevel    G-04         A
1        M          KW       KuwaIT    lowerlevel    G-04         A
2        M          KW       KuwaIT    lowerlevel    G-04         A
3        M          KW       KuwaIT    lowerlevel    G-04         A
4        M          KW          NaN    lowerlevel    G-04         A
..     ...         ...          ...           ...     ...       ...
475      F      Jordan       Jordan  MiddleSchool    G-08         A
476      F      Jordan       Jordan  MiddleSchool    G-08         A
477      F      Jordan       Jordan  MiddleSchool    G-08         A
478      F      Jordan       Jordan  MiddleSchool    G-08         A
479      F      Jordan       Jordan  MiddleSchool    G-08         A

         Topic Semester Relation  raisedhands  VisITedResources  \
0           IT        F   Father         15.0                16
1           IT        F   Father          NaN                20
2           IT        F   Father         10.0                 7
3           IT        F   Father         30.0                25
4           IT        F   Father         40.0                50
..         ...      ...      ...          ...               ...
475  Chemistry        S   Father          5.0                 4
476    Geology        F   Father         50.0                77
477    Geology        S   Father         55.0                74
478    History        F   Father         30.0                17
479    History        S   Father         35.0                14

     AnnouncementsView  Discussion ParentAnsweringSurvey  \
0                    2          20                   Yes
1                    3          25                   Yes
2                    0          30                    No
3                    5          35                    No
4                   12          50                    No
..                 ...         ...                   ...
475                  5           8                    No
476                 14          28                    No
477                 25          29                    No
478                 14          57                    No
479                 23          62                    No

    ParentschoolSatisfaction StudentAbsenceDays Class
0                       Good            Under-7     M
1                       Good            Under-7     M
2                        Bad            Above-7     L
3                        Bad            Above-7     L
4                        Bad            Above-7     M
..                       ...                ...   ...
475                      Bad            Above-7     L
476                      Bad            Under-7     M
477                      Bad            Under-7     M
478                      Bad            Above-7     L
479                      Bad            Above-7     L

[480 rows x 17 columns]>

In [32]:
df.sample(10)

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
225,M,KW,KuwaIT,MiddleSchool,G-08,A,Spanish,S,Mum,72.0,90,12,30,No,Bad,Under-7,M
80,M,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,8.0,15,10,40,Yes,Bad,Under-7,L
363,M,Palestine,Jordan,lowerlevel,G-02,A,Arabic,S,Father,80.0,88,51,39,Yes,Good,Under-7,H
62,M,venzuela,venzuela,HighSchool,G-10,A,IT,F,Mum,80.0,90,70,80,Yes,Good,Under-7,H
288,M,Palestine,Jordan,MiddleSchool,G-06,A,English,F,Mum,71.0,70,65,69,Yes,Good,Under-7,M
24,M,KW,KuwaIT,MiddleSchool,G-07,B,IT,F,Father,0.0,2,3,70,Yes,Good,Above-7,L
448,M,Jordan,Jordan,MiddleSchool,G-08,A,History,F,Mum,87.0,92,74,89,Yes,Good,Under-7,H
374,M,Jordan,Jordan,lowerlevel,G-02,B,Arabic,F,Father,10.0,10,40,51,No,Bad,Above-7,L
17,M,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,NaN,13,35,90,No,Bad,Above-7,M
327,M,Jordan,Jordan,lowerlevel,G-02,A,French,S,Father,30.0,10,20,5,No,Bad,Above-7,L

In [33]:
df.isna()

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
476,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
477,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
478,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
479,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [36]:
df.dtypes

gender                       object
NationalITy                  object
PlaceofBirth                 object
StageID                      object
GradeID                      object
SectionID                    object
Topic                        object
Semester                     object
Relation                     object
raisedhands                 float64
VisITedResources              int64
AnnouncementsView             int64
Discussion                    int64
ParentAnsweringSurvey        object
ParentschoolSatisfaction     object
StudentAbsenceDays           object
Class                        object
dtype: object

In [37]:
print(modevalue)

0    KuwaIT
Name: PlaceofBirth, dtype: object

In [42]:
df['PlaceofBirth'].fillna(df['PlaceofBirth'].mode()[0],inplace=True)

In [43]:
df

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15.0,16,2,20,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,NaN,20,3,25,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10.0,7,0,30,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30.0,25,5,35,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40.0,50,12,50,No,Bad,Above-7,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,F,Jordan,Jordan,MiddleSchool,G-08,A,Chemistry,S,Father,5.0,4,5,8,No,Bad,Above-7,L
476,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,F,Father,50.0,77,14,28,No,Bad,Under-7,M
477,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,S,Father,55.0,74,25,29,No,Bad,Under-7,M
478,F,Jordan,Jordan,MiddleSchool,G-08,A,History,F,Father,30.0,17,14,57,No,Bad,Above-7,L
479,F,Jordan,Jordan,MiddleSchool,G-08,A,History,S,Father,35.0,14,23,62,No,Bad,Above-7,L

In [44]:
df.isnull().sum()

gender                      0
NationalITy                 0
PlaceofBirth                0
StageID                     0
GradeID                     0
SectionID                   0
Topic                       5
Semester                    0
Relation                    0
raisedhands                 5
VisITedResources            0
AnnouncementsView           0
Discussion                  0
ParentAnsweringSurvey       0
ParentschoolSatisfaction    0
StudentAbsenceDays          0
Class                       0
dtype: int64

In [47]:
df['Topic'].isnull().sum()

5

In [55]:
md=df['Topic'].mode().iloc[0]
print(md)
df['Topic'].fillna(md,inplace=True)

IT

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15.0,16,2,20,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,NaN,20,3,25,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10.0,7,0,30,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30.0,25,5,35,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40.0,50,12,50,No,Bad,Above-7,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,F,Jordan,Jordan,MiddleSchool,G-08,A,Chemistry,S,Father,5.0,4,5,8,No,Bad,Above-7,L
476,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,F,Father,50.0,77,14,28,No,Bad,Under-7,M
477,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,S,Father,55.0,74,25,29,No,Bad,Under-7,M
478,F,Jordan,Jordan,MiddleSchool,G-08,A,History,F,Father,30.0,17,14,57,No,Bad,Above-7,L
479,F,Jordan,Jordan,MiddleSchool,G-08,A,History,S,Father,35.0,14,23,62,No,Bad,Above-7,L

In [56]:
df.isnull().sum()

gender                      0
NationalITy                 0
PlaceofBirth                0
StageID                     0
GradeID                     0
SectionID                   0
Topic                       0
Semester                    0
Relation                    0
raisedhands                 5
VisITedResources            0
AnnouncementsView           0
Discussion                  0
ParentAnsweringSurvey       0
ParentschoolSatisfaction    0
StudentAbsenceDays          0
Class                       0
dtype: int64

In [57]:
df['Topic'].isnull().sum()

0

In [58]:
meanv=df['raisedhands'].mean()
print(meanv)

46.75157894736842

In [59]:
df['raisedhands'].fillna(meanv,inplace=True)
df['raisedhands'].isnull().sum()

0

In [60]:
df.isnull().sum()

gender                      0
NationalITy                 0
PlaceofBirth                0
StageID                     0
GradeID                     0
SectionID                   0
Topic                       0
Semester                    0
Relation                    0
raisedhands                 0
VisITedResources            0
AnnouncementsView           0
Discussion                  0
ParentAnsweringSurvey       0
ParentschoolSatisfaction    0
StudentAbsenceDays          0
Class                       0
dtype: int64

In [61]:
df.dtypes

gender                       object
NationalITy                  object
PlaceofBirth                 object
StageID                      object
GradeID                      object
SectionID                    object
Topic                        object
Semester                     object
Relation                     object
raisedhands                 float64
VisITedResources              int64
AnnouncementsView             int64
Discussion                    int64
ParentAnsweringSurvey        object
ParentschoolSatisfaction     object
StudentAbsenceDays           object
Class                        object
dtype: object

In [66]:
df['raisedhands']

0      15
1      46
2      10
3      30
4      40
       ..
475     5
476    50
477    55
478    30
479    35
Name: raisedhands, Length: 480, dtype: int64

In [64]:
df['raisedhands']=df['raisedhands'].astype('int64')

In [65]:
df['raisedhands'].dtypes

dtype('int64')

In [68]:
df['gender'].replace(['M','F'],[0,1],inplace=True)

In [69]:
df['gender']

0      0
1      0
2      0
3      0
4      0
      ..
475    1
476    1
477    1
478    1
479    1
Name: gender, Length: 480, dtype: int64

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   gender                    480 non-null    int64
 1   NationalITy               480 non-null    object
 2   PlaceofBirth              480 non-null    object
 3   StageID                   480 non-null    object
 4   GradeID                   480 non-null    object
 5   SectionID                 480 non-null    object
 6   Topic                     480 non-null    object
 7   Semester                  480 non-null    object
 8   Relation                  480 non-null    object
 9   raisedhands               480 non-null    int64
 10  VisITedResources          480 non-null    int64
 11  AnnouncementsView         480 non-null    int64
 12  Discussion                480 non-null    int64
 13  ParentAnsweringSurvey     480 non-null    object
 14  ParentschoolSatisfaction  480 non-null    object
 15  StudentAbsenceDays        480 non-null    object
 16  Class                     480 non-null    object
dtypes: int64(5), object(12)
memory usage: 63.9+ KB

In [77]:
df['Semester']

0      0
1      0
2      0
3      0
4      0
      ..
475    1
476    0
477    1
478    0
479    1
Name: Semester, Length: 480, dtype: int8

In [76]:
df['Semester']=df['Semester'].astype('category')
df['Semester']=df['Semester'].cat.codes

In [78]:
df

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,0,KW,KuwaIT,lowerlevel,G-04,A,IT,0,Father,15,16,2,20,Yes,Good,Under-7,M
1,0,KW,KuwaIT,lowerlevel,G-04,A,IT,0,Father,46,20,3,25,Yes,Good,Under-7,M
2,0,KW,KuwaIT,lowerlevel,G-04,A,IT,0,Father,10,7,0,30,No,Bad,Above-7,L
3,0,KW,KuwaIT,lowerlevel,G-04,A,IT,0,Father,30,25,5,35,No,Bad,Above-7,L
4,0,KW,KuwaIT,lowerlevel,G-04,A,IT,0,Father,40,50,12,50,No,Bad,Above-7,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,1,Jordan,Jordan,MiddleSchool,G-08,A,Chemistry,1,Father,5,4,5,8,No,Bad,Above-7,L
476,1,Jordan,Jordan,MiddleSchool,G-08,A,Geology,0,Father,50,77,14,28,No,Bad,Under-7,M
477,1,Jordan,Jordan,MiddleSchool,G-08,A,Geology,1,Father,55,74,25,29,No,Bad,Under-7,M
478,1,Jordan,Jordan,MiddleSchool,G-08,A,History,0,Father,30,17,14,57,No,Bad,Above-7,L
479,1,Jordan,Jordan,MiddleSchool,G-08,A,History,1,Father,35,14,23,62,No,Bad,Above-7,L

In [79]:
df.columns

Index(['gender', 'NationalITy', 'PlaceofBirth', 'StageID', 'GradeID',
       'SectionID', 'Topic', 'Semester', 'Relation', 'raisedhands',
       'VisITedResources', 'AnnouncementsView', 'Discussion',
       'ParentAnsweringSurvey', 'ParentschoolSatisfaction',
       'StudentAbsenceDays', 'Class'],
      dtype='object')

In [81]:
minval=df['Discussion'].min()
maxval=df['Discussion'].max()
df['Discussion']=(df['Discussion']-minval)/(maxval-minval)

In [82]:
df

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,0,KW,KuwaIT,lowerlevel,G-04,A,IT,0,Father,15,16,2,0.193878,Yes,Good,Under-7,M
1,0,KW,KuwaIT,lowerlevel,G-04,A,IT,0,Father,46,20,3,0.244898,Yes,Good,Under-7,M
2,0,KW,KuwaIT,lowerlevel,G-04,A,IT,0,Father,10,7,0,0.295918,No,Bad,Above-7,L
3,0,KW,KuwaIT,lowerlevel,G-04,A,IT,0,Father,30,25,5,0.346939,No,Bad,Above-7,L
4,0,KW,KuwaIT,lowerlevel,G-04,A,IT,0,Father,40,50,12,0.500000,No,Bad,Above-7,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,1,Jordan,Jordan,MiddleSchool,G-08,A,Chemistry,1,Father,5,4,5,0.071429,No,Bad,Above-7,L
476,1,Jordan,Jordan,MiddleSchool,G-08,A,Geology,0,Father,50,77,14,0.275510,No,Bad,Under-7,M
477,1,Jordan,Jordan,MiddleSchool,G-08,A,Geology,1,Father,55,74,25,0.285714,No,Bad,Under-7,M
478,1,Jordan,Jordan,MiddleSchool,G-08,A,History,0,Father,30,17,14,0.571429,No,Bad,Above-7,L
479,1,Jordan,Jordan,MiddleSchool,G-08,A,History,1,Father,35,14,23,0.622449,No,Bad,Above-7,L